# Database connection string


DATABASE_URI=mongodb+srv://dbNerdy:v5ljyf9I1T3z9tlr@nerdyhandsdev.jaqlp.mongodb.net/SASBlog-v2?retryWrites=true&w=majority&appName=NerdyHandsDev
PAYLOAD_SECRET=ef446cfa2b6c24ba465e8615
NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3000


# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens


# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
